.calendar {
  display: flex;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  background-color: $background;
  width: 1024px;
}

.day-header {
  margin-bottom: 20px;
  text-align: center;

  .week-day,
  .day-number {
    display: block;
    font-family: $font-family;
  }

  .week-day {
    font-size: 12px;
    opacity: 0.75;
    text-transform: uppercase;
  }

  .day-number {
    font-size: 13px;
    font-weight: 600;
  }
}


.day-column {
  border: 1px solid fade-out($light-black, 0.5);
  border-right: 0;
  flex: 1;
  flex-direction: row;
  font-size: 15px;
  padding: 20px;

  &:last-child {
    border-right: 1px solid $light-black;
  }
}

.event:not(:last-child) {
  margin-bottom: 10px;
}

.event-title {
  &::before {
    $size: 8px;

    content: '';
    background-color: $red;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
    margin-right: 6px;
    opacity: 0.65;
    position: relative;
    top: -1px;
    width: $size;
    height: $size;
  }
}

.event-time {
  background-color: fade-out($black, 0.75);
  border-radius: 2px;
  display: inline-block;
  font-size: 13px;
  line-height: 1.2;
  padding: 1px 4px;
}
